<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dealership Review</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

    <!-- Add reviews as cards -->
<div class="card-columns">
    <div class="card"> 
    <img class="card-img-left">
    <div class="card-body"></div>
    </body>

</html>